@import "common";


main{
  .fluid-container{
    div[class*="col"]{
      .caption{
        p{
          font-size: $font-bg-size;
          display: inline;
          line-height: 2;
        }
      }
      .table{
        margin-bottom: 0;
        thead{
          width: 95%;
          th{
            font-size: $font-sm-size;
          }
        }
        tbody{
          tr{
            .image{
              a{
                display: inline-block;
                img{
                  float: left;
                  max-width: 200px;
                  max-height: 200px;
                }
              }
              padding: 20px 0px !important;
            }
            .infoCol{
              .infoContainer{
                font-size: $font-sm-size;
                list-style-type: none;
                padding: 0;

                .title{
                  font-size: $font-size;
                }

              }
              padding: 20px 0px !important;
            }
            .quantity{
              text-align: center;
              input[id*='quantity-input']{
                text-align: center;
                font-size: $font-sm-size;
              }
              padding: 20px 10px !important;
            }
            .price{
              @extend .quantity;
              font-weight: bold;
              font-size: $font-size;
              padding: 20px 10px !important;
            }
          } //tr
        } //tbody
      }//table
      .subtotal{
        display:block;
        width:100%;
        text-align: right;
        font-family: "Raleway";
        font-size: $font-size;
        font-weight: bold;
      }
    }
  }
}

.pinkButton{
  max-width: 200px;
  right: 15px;
  padding: 10px;
  top: 8px;
  float:right;
}

@media (max-width: 768px) {
  main{
    .fluid-container{
      div[class*="col"]{
        .table{
          tbody{
            tr{
              .image{
                a{
                  img{
                    max-height: none;
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
