@import 'hover';
$col-backg-main : white;  //main background color for html section
$col-charcoal: #2C2C2B;
$col-gray : #424242;
$col-gray-light: #9E9E9E;
$col-gray-light-2: #E0E0E0;
$col-gray-back: #f5f5f5;
$col-gray-border: #ddd;
$col-success: #66BB6A;
$col-pink: #F48FB1;
$col-red : #C62828;
$col-pink-hover: #F06292;
$col-pink-pressed: #F06292;
$font-main : "Raleway";
$font-bg-size : 30px;
$font-size : 20px;
$font-sm-size : 16px;
$font-xs-size : 14px;
$font-tiny-size : 12px;
$font-copyrights-size : 12px;
$max-width: 90%;  //for items-section
$push-width: 350px;

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal {
  border-radius: 0;
}

.margined{
  margin-top: 10px;
}

.margined-b{
  margin: 0px 5px;
}

.like{
    z-index:40;
}

.like-clicked{
  color: $col-red;
  z-index: 40;
}

.centered{
  text-align: center;
}

.margined-2{
  margin-top: 20px;
}

.margined-3{
  margin-top: 30px;
}

.margined-4{
  margin-top: 40px;
}

.margined-xl{
  margin-top: 50px;
}

.margined-xxl{
  margin-top: 100px;
}

@mixin margined ($multiplier){
  $margin-top: $multiplier * 10;
}

.pinkButton{
  border-radius: 4px;
  width: 100%;
  padding: 15px 12px;
  background-color: $col-pink;
  color: white;
  font-size: $font-sm-size;
  font-family: $font-main;
  &:hover, &:focus{
    background-color: $col-pink-hover;
    color: white;
    transition: all 0.5s ease;
  }

}

.row{
  margin: 0;
}

.invisible{
  display: none;
  visibility: hidden;
  position: absolute !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.space {
  height: 20px;
}

.clear{
  clear :both;
}

html{
  background-color: $col-backg-main;
}

//logo section
header{
  .label{
    .row{
      position: relative;
      .logo{
        display:inline-block;
        height:150px;
        width: 150px;
        border-radius: 50%;
        .img-div{
          background-image: url("../img/logo.svg");
          background-size: cover;
          background-position: 0 40%;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: solid 3px #424242;
          margin: 0 auto;
        }
      } //logo
      .brand{
        font-family: $font-main;
        font-size: $font-size;
        color: $col-gray;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      } //h4

      .hline{
        height: 1px;
        width: 260px;
        margin: 0 auto;
        background-color: $col-gray;
      } //hline
      .caption{
        color: $col-gray;
        font-family: $font-main;
        font-size: 18px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      }

      .top-menu-list{
        position: absolute;
        bottom: 0;
        padding: 0;
        right: 10%;
        margin-bottom:0;
        .menu-item{
          border: none;
          margin: 0px 5px 0px 5px;
          display:inline;
        }
        .cart{
          line-height: 2.5;
          display:inline-block;
          position: relative;
          top: -1px;

          .cartBtn{
            border-color: $col-gray-border;
            padding: 8px 13px;
            font-size: $font-size;
            color: $col-success;
          }
        } //cart
        .favourites{
          .favBtn{
            border-color: $col-gray-border;
            padding: 8px 13px;
            font-size: $font-size;
          }
        }
      }//menu-default
    } //row
  } //label
} //header

//nav menu
main{
  font-family: $font-main;
  .fluid-container{
    .row{
      .menu{
        display:block;
        padding: 0;
        a{
          color: $col-gray;
        }
          .menu-list{
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            .menu-item{
              display: inline;
              line-height: 2;
              font-family: $font-main;
              font-size: $font-sm-size;
              font-weight: 400;
              border-top: solid 1px $col-gray;
              border-bottom: solid 1px $col-gray;
              transition: all 0.2s ease;
              a{
                display:block;
                text-decoration: none;
                &:hover, &:active, &:visited{
                  text-decoration: none;
                }
              }
              &:hover{
                background-color: $col-pink;
                a{
                  color: white;
                }
                transition: all 0.5s ease;
              }
            } //menu-item
          } //menu-list
      }
    } //row
  } //flui-container
  .search{
    .searchBar{
      form{
        .form-group{
          .input-search{
            width:60%;
            display:inline;
          }
          button{
            position:relative;
            top: -1px;
          }
        } //form-group
      } //form
    } //searchBar
  } //search
} //main

//Hack for microsoft browsers
@supports (-ms-accelerator:true) {
  main{
    .menu.hidden-xs{
      .top-menu-list{
        right:15px !important;
      }
    }
  }
}

//footer
footer{
  .copyrights{
    p{
      font-family: $font-main;
      font-size: $font-copyrights-size;
    }
  }
  .social{
    list-style-type: none;
    text-align:right;
    li{
      display:inline-block;
      border-radius: 50%;
      text-align: center;
      a{
        color: $col-gray;
        width: 45px;
        height: 45px;
        display:block;
        i{
          position: relative;
          top: 8px;
        }
      }
    }
  } //social
} //footer

//cart pushy
.pushy{
  background: $col-charcoal;
  visibility: collapse;
  position: fixed;
  width: $push-width;
  height: 100%;
  top: 0;
  z-index: 9999;
  font-size: 0.9em;
  font-weight: bold;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  .wrapper{
    height: 100%;
    .header{
      background: $col-charcoal;
      padding: 30px 0px;
      margin: 10px 0px;
      color: white;
      position: relative;
      i{
        color: white;
        position:absolute;
        right: 10%;
        top: 30px;
        cursor: pointer;

        &:before{
          transition:all .3s;
          -ms-transform:rotate(180deg);
          -webkit-transform:rotate(180deg);
          transform:rotate(180deg);
        }
      }
      i.rotate:before{
        -moz-transition:all .5s .1s;
        -o-transition:all .5s .1s;
        -webkit-transition:all .5s;
        -webkit-transition-delay:.1s;
        transition:all .5s .1s;
        -ms-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
      }
    }

    .cart-insides{
      list-style-type: none;
      padding: 0;
      background: $col-backg-main;
      height:70%;
      overflow: auto;
      .cart-item{
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        a{
          display:inline-block;
          img{
            max-width: 100px;
            max-height: 100px;
          }
        }
        .cart-item-info{
          position:absolute;
          list-style-type: none;
          display:inline-block;
          top: 20%;
          left: 40%;
          .cart-item-name{
            font-size:$font-size - 2;
            color: $col-gray-light;
          }

        }
      } //cart-item
    } //cart-insides
    .cart-insides::-webkit-scrollbar{
      display: none;
    }
    .total{
      color: white;
    }
    .opensCart{
      display:block;
      border-radius: 0px;
      border: none;
      width: 80%;
      margin: 0 auto;
      padding: 10px 12px;
      margin-bottom: 20px;
      background-color: $col-success;
      color: white;
      font-size: $font-size;
      font-family: $font-main;
    }
  } //wrapper
  a{
      display: inline-block;
      padding: 15px 30px;
      text-decoration: none;
  }


}

.pushy-left{
    -webkit-transform: translate3d(-$push-width,0,0);
    -moz-transform: translate3d(-$push-width,0,0);
    -ms-transform: translate3d(-$push-width,0,0);
    -o-transform: translate3d(-$push-width,0,0);
    transform: translate3d(-$push-width,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d($push-width,0,0);
    -moz-transform: translate3d($push-width,0,0);
    -ms-transform: translate3d($push-width,0,0);
    -o-transform: translate3d($push-width,0,0);
    transform: translate3d($push-width,0,0);
}

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

.pushy::-webkit-scrollbar {
  display: none;
}

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


@media screen and (min-height:800px) and (orientation:landscape) {
  .pushy{
      width: 350px;
      .wrapper{
        .cart-insides{
          height: 70%;
        }
      }
  }
}

@media screen and (max-height:799px) and (orientation:landscape) {
  .pushy{
      width: 350px;
      .wrapper{
        .header{
          padding: 10px;
          margin: 5px 0px 5px 0px;
          i{
            top: 12px;
          }
        }
        .cart-insides{
          height: 70%;
        }
      }
  }
}

@media screen and (max-height:599px) and (orientation:landscape) {
    .pushy{
        display: none;
    }

    .site-overlay{
      display:none;
    }
}


@media screen and (min-width: 768px) and (min-height:1000px){
  .pushy{
    .wrapper{
      .cart-insides{
        height: 75%;
      }
    }
  }
}

@media screen and (max-width: 470px) and (orientation:portrait) {
    .pushy{
        width: 350px;
        .wrapper{
          .header{
            padding: 10px;
            margin: 5px 0px 5px 0px;
            i{
              top: 12px;
            }
          }
          .cart-insides{
            height: 70%;
          }
        }
    }

}

@media screen and (max-width: 385px) and (orientation:portrait) {
    .pushy{
        width: 300px;
        .wrapper{
          .header{
            padding: 10px;
            margin: 5px 0px 5px 0px;
            i{
              top: 12px;
            }
          }
          .cart-insides{
            height: 65%;
          }
        }
    }
}

@media screen and (max-width: 320px) and (orientation:portrait){
    .pushy{
        width: 270px;
        .wrapper{
          .header{
            padding: 10px;
            margin: 5px 0px 5px 0px;
            i{
              top: 12px;
            }
          }
          .cart-insides{
            height: 60%;
          }
        }
    }
}


//Hover .css classes overriding
.hvr-ripple-out{
  &:before {
    border: $col-gray-border solid 2px;
    border-radius: 50px;
  }
}

.hvr-shutter-in-vertical{
  background: $col-pink !important;
  &:before{
    background: white;
  }
}

.hvr-icon-pulse-grow-heart{
  @extend .hvr-icon-pulse-grow;
  @extend .hvr-icon-fade;
  padding-right:12px;
  &:before{
    content: "\f004";
    color: $col-gray;
    position:relative;
    right: 0;
  }

  &:hover,
	&:focus,
	&:active {
    &:before{
      	color: $col-red;
        content: "\f004";
    }

	}
}

.hvr-icon-pulse-grow-cart{
  @extend .hvr-icon-pulse-grow;
  @extend .hvr-icon-fade;
  font-size: $font-size + 6;
  &:before{
    content: "\f07a";
    color: $col-gray;
    position:initial;
    padding: 0;
  }

  &:hover,
	&:focus,
	&:active {
    &:before{
      	color: $col-success;
        content: "\f07a";
    }

	}
}

.hvr-cart-pop{
  @extend .hvr-icon-pop;
  &:before{
    content: "\f07a";
    position: initial;
  }
}

@mixin hovered($color) {
    color: $color + #111111;
}

@media screen and (max-width: 767px){
  #current-item-image{
    margin: 0 auto;
  }

  .top-menu-list{
    right: 0px !important;
  }
}
