@import 'hover';
$col-backg-main : white;  //main background color for html section
$col-charcoal: #2C2C2B;
$col-grey : #424242;
$col-grey-light: #9E9E9E;
$col-grey-light-2: #E0E0E0;
$col-success: #66BB6A;
$col-pink: #F48FB1;
$col-red : #C62828;
$col-pink-hover: #F06292;
$font-main : "Raleway";
$font-head : "JSlim";
$font-dilem : "Dilem";
$font-bg-size : 30px;
$font-size : 20px;
$font-sm-size : 16px;
$font-xs-size : 14px;
$font-tiny-size : 12px;
$font-copyrights-size : 12px;
$max-width: 90%;  //for items-section

.modal {
  border-radius: 0;
}
//fonts
@font-face {
  font-family: "JSlim";
  src: url("../fonts/Slim Joe.otf");
}

html::-webkit-scrollbar {
  display: inline-block;
}

.margined{
  margin-top: 10px;
}

.margined-b{
  margin-bottom: 5px;
}

.like{
    z-index:40;
}

.like-clicked{
  color: $col-red;
  z-index: 40;
}

.centered{
  text-align: center;
}

.margined-2{
  margin-top: 20px;
}

.margined-3{
  margin-top: 30px;
}

.margined-xxl{
  margin-top: 100px;
}

.row{
  margin: 0;
}

.invisible{
  display: none;
  visibility: hidden;
  position: absolute !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.space {
  height: 20px;
}

.clear{
  clear :both;
}

html{
  background-color: $col-backg-main;
}

//logo section
header{
  .label{
    .row{
      .logo{
        display:inline-block;
        height:180px;
        width: 180px;
        border-radius: 50%;
        .img-div{
          background-image: url("../img/logo.svg");
          background-size: cover;
          background-position: 0 40%;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: solid 3px #424242;
          margin: 0 auto;
        }
      } //logo
      h4{
        font-family: $font-head;
        font-size: $font-bg-size;
        color: $col-grey;
        font-weight: 800;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      } //h4

      .hline{
        height: 1px;
        width: 260px;
        margin: 0 auto;
        background-color: $col-grey;
      } //hline
      .caption{
        color: $col-grey;
        font-family: $font-head;
        font-size: 17px;
        font-weight: 1900;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      }
    } //row
  } //label
} //header

//nav menu
main{
  font-family: $font-main;
  .fluid-container{
    .row{
      .menu{
        display:block;
        padding: 0;

        .menu-list{
          list-style-type: none;
          margin: 0 auto;
          padding: 0;
          .menu-item{
            display: inline;
            line-height: 2;
            font-family: $font-main;
            font-size: $font-sm-size;
            font-weight: 400;
            border-top: solid 1px $col-grey;
            border-bottom: solid 1px $col-grey;
            a{
              display:block;
              text-decoration: none;
              &:hover, &:active, &:visited{
                text-decoration: none;
              }
            }
          } //menu-item
        } //menu-list
        .top-menu-list{
          @extend .menu-list;

          .menu-item{
            border: none;
          }
          .cart{
            line-height: 2.5;
            display:inline-block;
            position: relative;
            top: -1px;

            a{
              display:block;
              .bag{
                display:inline-block;
                background-image: url("../img/bag.svg");
                background-size: cover;
                background-image-color: $col-success;
                width: 40px;
                height: 40px;
                position:relative;
                top: -10px;
                line-height: 2;
                color:white;
                font-size: $font-sm-size - 2;
                p{
                  position:relative;
                  top: 10px;
                } //p
              } //bag
            } //a
          } //cart
          .favourites{
            @extend .cart;
            line-height: 2.9;
            a{
              text-align:center;
              padding: 0;
              top : 0px;
            }
          }
        } //top-menu-list
      } //menu
    }
  }
}

//footer
footer{
  .copyrights{
    p{
      font-family: $font-main;
      font-size: $font-copyrights-size;
    }
  }
  .social{
    list-style-type: none;
    text-align:right;
    li{
      display:inline-block;
      border-radius: 50%;
      text-align: center;
      a{
        color: $col-grey;
        width: 40px;
        height: 40px;
        display:block;
        i{
          position: relative;
          top: 5px;
        }
      }
    }
  } //social
} //footer

//cart pushy

.pushy{
  background: $col-charcoal;
  .wrapper{
    //padding-right: 20px;
    .header{
      background: $col-charcoal;
      padding: 30px 0px;
      color: white;
    }
    .cart-insides{
      list-style-type: none;
      padding: 0;
      background: $col-backg-main;
      .cart-item{
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        a{
          display:inline-block;
          img{
            max-width: 100px;
            max-height: 100px;
          }
        }
        .cart-item-info{
          position:absolute;
          list-style-type: none;
          display:inline-block;
          top: 20%;
          left: 40%;
          .cart-item-name{
            font-size:$font-size - 2;
            color: $col-grey-light;
          }

        }
      } //cart-item
    } //cart-insides
    .total{
      color: white;
    }
    .opensCart{
      display:block;
      border-radius: 0px;
      border: none;
      width: 80%;
      margin: 0 auto;
      padding: 10px 12px;
      margin-bottom: 20px;
      background-color: $col-success;
      color: white;
      font-size: $font-size;
      font-family: $font-main;
    }
  } //wrapper
}

//Hover .css classes overriding
.hvr-ripple-out{
  &:before {
    border: $col-grey solid 2px;
    border-radius: 50px;
  }
}

.hvr-shutter-in-vertical{
  background: $col-pink !important;
  &:before{
    background: white;
  }
}

.hvr-icon-pulse-grow-heart{
  @extend .hvr-icon-pulse-grow;
  @extend .hvr-icon-fade;
  &:before{
    content: "\f08a";
    color: $col-red;
    position:relative;
    right:-5px;
  }

  &:hover,
	&:focus,
	&:active {
    &:before{
      	color: $col-red;
        content: "\f004";
    }

	}
}

.hvr-glow-green{
  @extend .hvr-glow;
  &:hover,
	&:focus,
	&:active{
    box-shadow: 0 0 8px $col-success;
    background: white;
  }
}

@mixin hovered($color) {
    color: $color + #111111;
}
