@import "common";

html{
  background-color: $col-backg-main;
}

header{
  .label{
    .row{
      .logo{
        display:inline-block;
        height:200px;
        width: 200px;
        border-radius: 50%;
        .img-div{
          background-image: url("../img/logo.svg");
          background-size: cover;
          background-position-y: +40%;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: solid 3px #424242;
        }
      } //logo
      h4{
        font-family: $font-head;
        font-size: $font-bg-size;
        color: $col-grey;
        font-weight: 800;
      } //h4

      .hline{
        height: 1px;
        width: 260px;
        margin: 0 auto;
        background-color: $col-grey;
      } //hline
      .caption{
        color: $col-grey;
        font-family: $font-head;
        font-size: $font-sm-size;
        font-weight: 800;
      }
    } //row
  } //label
}

main{
  .fluid-container{
    .row{
      .menu{
        display:block;

        .menu-list{
          list-style-type: none;
          margin: 0 auto;
          padding: 0;
          .menu-item{
            display: inline;
            line-height: 2;
            font-family: $font-main;
            font-size: $font-sm-size;
            font-weight: 400;
            border-top: solid 1px $col-grey;
            border-bottom: solid 1px $col-grey;
          }
          .cart{
            height:34px;
            a{
              display:inline-block;
              .bag{
                display:inline-block;
                background-image: url("../img/bag.svg");
                background-size: cover;
                background-image-color: $col-success;
                width: 30px;
                height: 30px;
                position:relative;
                top: -2px;
                line-height: 2;
                color:white;
                font-size: $font-sm-size - 2;
                p{
                  position:relative;
                  top: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}
