@import "common";

main{
  font-family: $font-main;
  .fluid-container{
    .row{
      .search{
        .searchBar{
          form{
            .form-group{
              .input-search{
                width:60%;
                display:inline;
              }
              button{
                position:relative;
                top: -1px;
              }
            } //form-group
          } //form
        } //searchBar
      } //search

      .items-section{
        .main-section{
          max-width: $max-width;
          margin: 0 auto;
          .dropdown-container{
            height: 40px;
            margin: 0 auto;
            max-width: 97%;
            .dropdown{
              float: right;
            } //dropdown
          }
          .item{
            @extend .margined-3;
            position:relative;
            .image{
              @extend .centered;
              position: relative;
              margin: 0 auto;
              max-width: 300px;
              .thumbnail{
                position: relative;
                display:inline-block;
                margin : 0;
                max-width: 100%;
                .badgie{
                  z-index: 2;
                  position: absolute;
                  color: white;
                  font-size: $font-size;
                  font-family: $font-main;
                  padding: 0 20px 0 20px;
                  background-color: #F48FB1;
                }
                .figure{
                  img{
                    position: relative;
                    max-height: 373px;
                    width:auto;
                    display:inline-block;
                  } //img
                }
              } //thumbnail
            } //image
            .info{
              text-align: left;
              max-width: 311px; //hard-code reason: image centering
              margin: 10px auto 0 auto;
              position: relative;
              left: 5px;
              .item-name{
                margin: 0 auto;
                font-size: $font-sm-size;
                font-family: $font-main;
                a{
                  display:block;
                  width:80%;
                  height: 100%;
                  color: $col-grey !important;
                  &:hover, &:active, &:visited{
                    text-decoration: none;
                  }
                }
              }
              .price-container{

                .price-old{
                  position: relative;
                  margin: 0 5px 0 0;
                  display:inline-block;
                  color: $col-grey-light-2;
                  text-decoration: line-through;
                }
                .price{
                  margin: 0 auto;
                  display:inline-block;
                  color: $col-grey-light;
                  font-size: $font-xs-size;
                } //price
              } //price-container
              .btn-toCart{
                position: absolute;
                display: inline-block;
                top: 0;
                right: 10px;
                button.btn-add{
                  border: 1px solid #66BB6A;
                  color: #66BB6A;
                  border-radius: 0;
                  padding: 5px 6px;
                  border-radius: 5px;
                }
              } //btn-toCart
            } //info
          } //item
        } //main-section
      } //items-section
    } //row
  } //fluid-container
} //main

//modal
body{
  .modal{
    .modal-dialog{
      .modal-content{
        .modal-body{
          .modal-left{
            #current-item-image{
              width: 100%;
            }

            .image-list{
              list-style-type: none;
              padding: 0;
              display:inline-block;
              li{
                display:inline-block;
                .item-image{
                  display:inline-block;
                  height: 100%;
                  width: 100%;
                  img{
                    width: 50px;
                    height: 50px;
                  }
                }
                .image-selected{
                  border: solid 2px $col-grey;
                }
              }
            }
          } //modal-left
          .modal-right{
            #itemName{
              font-size: $font-size;
              font-family: $font-main;
              background: $col-grey-back;
              border-top: solid 1px $col-grey-border;
              border-bottom: solid 1px $col-grey-border;
              padding: 15px;
              margin:0;
            }
            h4{
              font-size:$font-size;
              font-family: $font-main;
            }
            #item-price{
              font-size: $font-size;
              font-family: $font-main;
              display:inline-block;
            }
            span{
              .details{
                margin-left: 10px;
                font-size: $font-xs-size;
              }
            }
            .quantity{
              font-size: $font-tiny-size;
              font-family: $font-main;
              color: $col-grey-light;
            }
            .input-group{
              display:inline-block;
              .left-span{
                display:inline-block;
                margin-right: 30px;
                float:left;
              }
              #quantity-input{
                display:inline-block;
                width:50px;
                text-align:center;
              }
              .right-span{
                @extend .left-span;
                float:none;
              }
            } //input-group
            #addToCart{
              display: block;
              border-radius: 0;
              width: 100%;
              padding: 15px 12px;
              background-color: $col-pink;
              color: white;
              font-size: $font-sm-size;
              font-family: $font-main;
            } //addToCart
          } //modal-right
        } //modal-body
        .modal-footer{
          .closeBtn{
            border-radius: 0;
            padding: 12px 15px;
            width: 100px;
            border-color: $col-pink;
            border-width: 2px;
            font-family: $font-main;
            font-size: $font-sm-size;
            background-color: $col-pink !important;
            color: white;
          } //closeBtn
        } //modal-footer
      } //modal-content
    } //modal-dialog
  } //modal
}
