@font-face {
  font-family: "JSlim";
  src: url("../fonts/Slim Joe.otf"); }
.margined, main .fluid-container .row .items-container .item {
  margin-top: 10px; }

.centered {
  text-align: center; }

.margined-2 {
  margin-top: 20px; }

.margined-3 {
  margin-top: 30px; }

html {
  background-color: white; }

header .label .row .logo {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%; }
  header .label .row .logo .img-div {
    background-image: url("../img/logo.svg");
    background-size: cover;
    background-position-y: +40%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 3px #424242; }
header .label .row h4 {
  font-family: "JSlim";
  font-size: 30px;
  color: #424242;
  font-weight: 800; }
header .label .row .hline {
  height: 1px;
  width: 260px;
  margin: 0 auto;
  background-color: #424242; }
header .label .row .caption {
  color: #424242;
  font-family: "JSlim";
  font-size: 16px;
  font-weight: 800; }

main .fluid-container .row .menu {
  display: block;
  padding: 0; }
  main .fluid-container .row .menu .menu-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0; }
    main .fluid-container .row .menu .menu-list .menu-item {
      display: inline;
      line-height: 2;
      font-family: "Raleway";
      font-size: 16px;
      font-weight: 400;
      border-top: solid 1px #424242;
      border-bottom: solid 1px #424242; }
    main .fluid-container .row .menu .menu-list .cart {
      height: 34px; }
      main .fluid-container .row .menu .menu-list .cart a {
        display: inline-block; }
        main .fluid-container .row .menu .menu-list .cart a .bag {
          display: inline-block;
          background-image: url("../img/bag.svg");
          background-size: cover;
          background-image-color: #6F9971;
          width: 30px;
          height: 30px;
          position: relative;
          top: -2px;
          line-height: 2;
          color: white;
          font-size: 14px; }
          main .fluid-container .row .menu .menu-list .cart a .bag p {
            position: relative;
            top: 2px; }
main .fluid-container .row .search .searchBar form .form-group .input-search {
  width: 60%;
  display: inline; }
main .fluid-container .row .items-container {
  max-width: 90%;
  margin: 0 auto; }
  main .fluid-container .row .items-container .dropdown-container {
    height: 40px;
    margin: 0 auto;
    max-width: 97%; }
    main .fluid-container .row .items-container .dropdown-container .dropdown {
      float: right; }
  main .fluid-container .row .items-container .item .image .thumbnail {
    position: relative; }
    main .fluid-container .row .items-container .item .image .thumbnail .badgie {
      position: absolute;
      color: white;
      font-size: 20px;
      font-family: "Raleway";
      width: 50%;
      background-color: #F48FB1; }
  main .fluid-container .row .items-container .item .info p {
    font-size: 16px;
    font-family: "Raleway"; }
  main .fluid-container .row .items-container .item .info p.price-old {
    position: relative;
    right: 5px;
    display: inline-block;
    color: #E0E0E0;
    text-decoration: line-through; }
  main .fluid-container .row .items-container .item .info p.price {
    display: inline-block;
    color: #9E9E9E;
    font-size: 14px; }

/*# sourceMappingURL=index.css.map */
