@import "common";

html{
  background-color: $col-backg-main;
}

header{
  .label{
    .row{
      .logo{
        display:inline-block;
        height:200px;
        width: 200px;
        border-radius: 50%;
        .img-div{
          background-image: url("../img/logo.svg");
          background-size: cover;
          background-position-y: +40%;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: solid 3px #424242;
        }
      } //logo
      h4{
        font-family: $font-head;
        font-size: $font-bg-size;
        color: $col-grey;
        font-weight: 800;
      } //h4

      .hline{
        height: 1px;
        width: 260px;
        margin: 0 auto;
        background-color: $col-grey;
      } //hline
      .caption{

        -webkit-font-smoothing: antialiased;
        color: $col-grey;
        font-family: $font-head;
        font-size: $font-sm-size;
        font-weight: 800;
      }
    } //row
  } //label
} //header

main{
  font-family: $font-main;
  .fluid-container{
    .row{
      .menu{
        display:block;
        padding: 0;

        .menu-list{
          list-style-type: none;
          margin: 0 auto;
          padding: 0;
          .menu-item{
            display: inline;
            line-height: 2;
            font-family: $font-main;
            font-size: $font-sm-size;
            font-weight: 400;
            border-top: solid 1px $col-grey;
            border-bottom: solid 1px $col-grey;
            a{
              display:block;
            }
          } //menu-item
          .cart{
            display:block;
            height:34px;
            a{
              display:block;
              .bag{
                display:inline-block;
                background-image: url("../img/bag.svg");
                background-size: cover;
                background-image-color: $col-success;
                width: 30px;
                height: 30px;
                position:relative;
                top: -2px;
                line-height: 2;
                color:white;
                font-size: $font-sm-size - 2;
                p{
                  position:relative;
                  top: 2px;
                } //p
              } //bag
            } //a
          } //cart
        } //menu-list
      } //menu

      .search{
        .searchBar{
          form{
            .form-group{
              .input-search{
                width:60%;
                display:inline;
              }
            } //form-group
          } //form
        } //searchBar
      } //search

      .items-section{
        .main-section{
          max-width: $max-width;
          margin: 0 auto;
          .dropdown-container{
            height: 40px;
            margin: 0 auto;
            max-width: 97%;
            .dropdown{
              float: right;
            } //dropdown
          }
          .item{
            @extend .margined-3;
            .image{
              @extend .centered;
              position: relative;
              .thumbnail{
                position: relative;
                display:inline-block;
                margin : 0;
                .badgie{
                  z-index: 2;
                  position: absolute;
                  color: white;
                  font-size: $font-size;
                  font-family: $font-main;
                  padding: 0 20px 0 20px;
                  background-color: #F48FB1;

                }
                .figure{
                  img{
                    position: relative;
                    max-height: 373px;
                    width:auto;
                    display:inline-block;
                  } //img
                }
              } //thumbnail
            } //image
            .info{
              text-align: left;
              max-width: 311px; //hard-code reason: image centering
              margin: 10px auto 0 auto;
              .item-name{
                margin: 0 auto;
                font-size: $font-sm-size;
                font-family: $font-main;
              }
              .price-container{

                .price-old{
                  position: relative;
                  margin: 0 5px 0 0;
                  display:inline-block;
                  color: $col-grey-light-2;
                  text-decoration: line-through;
                }
                .price{
                  margin: 0 auto;
                  display:inline-block;
                  color: $col-grey-light;
                  font-size: $font-xs-size;
                } //price
              } //price-container
            } //info
          } //item
        } //main-section
      } //items-section
    } //row
  } //fluid-container
} //main

footer{
  .copyrights{
    p{
      font-family: $font-main;
      font-size: $font-copyrights-size;
    }
  }
  .social{
    list-style-type: none;
    text-align:right;
    li{
      display:inline-block;
      border-radius: 50%;
      border: solid 2px $col-grey;
      text-align: center;
      a{
        color: $col-grey;
        width: 40px;
        height: 40px;
        display:block;
        i{
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
