@import "common";

.main-info{

  #itemName{
    font-size: $font-size;
    font-family: $font-main;
    background: $col-grey-back;
    border-top: solid 1px $col-grey-border;
    border-bottom: solid 1px $col-grey-border;
    padding: 15px;
    margin:0;
  }

  font-family: $font-main;
  .left-part{
    #current-item-image{
      max-height: 400px;
      border-radius: 4px;
      border: solid 1px $col-grey-border;
    }

    .image-list{
      list-style-type: none;
      padding: 0;
      display:inline-block;
      li{
        display:inline-block;

        .item-image{
          display:inline-block;
          border: solid 1px $col-grey-border;
          border-radius: 4px;
          height: 100%;
          width: 100%;
          img{
              width: 50px;
              height: 50px;
              border-radius: 4px;
          }
        }
        .image-selected{
          border: solid 1px $col-grey;
        }
      }
    }
    .related-items{
      ul{
        list-style-type: none;
        padding: 0;
        .related-item{
          display:inline-block;
          a{
            display:inline-block;
            border: solid 1px $col-grey-border;
            border-radius: 4px;
            .itemImage{
              position: relative;
              figure{
                z-index:2;
                img{
                  max-width:150px;
                  max-height:150px;
                  border-radius: 4px;
                }
                figcaption{
                  background: transparent;
                  padding:0;
                }
                &:hover{
                  img{
                    transform: translateY(150px);
                    opacity: 1;
                    transition: transform 1s;
                  }
                  figcaption{
                    background: transparent;
                    transform: translateY(-100px);
                  }
                }
              } //figure
              p{
                position:absolute;
                top: 40%;
                font-size: $font-bg-size;
                z-index: 0;
                width: 100%;
                text-decoration: none;
                color:  $col-grey;
              }
            } //itemImage
          } //a
        } //related-item
      } //ul
    } //related-items
  } //left-part

  .right-part{

    h4{
      font-size:$font-size;
      font-family: $font-main;
    }
    #item-price{
      font-family: $font-main;
      display:inline-block;
      font-size: 25px;
      font-weight: bold;
    }
    .quantity{
      font-size: $font-tiny-size;
      font-family: $font-main;
      color: $col-grey-light;
    }
    .input-group{
      display:inline-block;
      .left-span{
        display:inline-block;
        margin-right: 30px;
        float:left;
      }
      #quantity-input{
        display:inline-block;
        width:50px;
        text-align:center;
      }
      .right-span{
        @extend .left-span;
        float:none;
      }
    } //input-group
    #addToCart{
      display: block;
      border-radius: 0;
      width: 100%;
      padding: 15px 12px;
      background-color: $col-pink;
      color: white;
      font-size: $font-sm-size;
      font-family: $font-main;
    } //addToCart
    .panel{
      border-left: none;
      border-right: none;
      border-bottom: none;
      .panel-heading{
        .panel-title{
          a{
            text-decoration: none;
            &:hover, &:active, &:visited{
              text-decoration: none !important;
            }
            span{
              font-size: 35px;
              font-weight: 100;
              position: relative;
              top: -8px;
            }
          }
        }
      }
    }

    .social{
      .icons {
        list-style-type: none;
        display:inline-block;
        margin: 0;
        padding: 0;
        .icon{
          display:inline;
          cursor: pointer;
          font-size: $font-size;
        }
        .fb{
          color: #3b5998;
          &:hover{
            @include hovered(#3b6998);
          }
        }
        .gplus{
          color: #dc4e41;
          &:hover{
            @include hovered(#dc4e41);
          }
        }
        .vk{
          color: #45668e;
          &:hover{
            @include hovered(#45668e);
          }
        }
        .pin{
          color: #bd081c;
          &:hover{
            @include hovered(#bd081c);
          }
        }
        .insta{
          color: #3f729b;
          &:hover{
            @include hovered(#3f729b);
          }
        }
        .twit{
          color: #55acee;
          &:hover{
            @include hovered(#55acee);
          }
        }
      }

    } //social
  } //right-part
}

@media screen and (max-width:767px){
  .image-list{
    display:block !important;
    text-align: center;
  }
  #addToCart{
    max-width: 423px;
    margin: 30px auto 0 auto;
  }
  .description{
    text-align: center;
  }
  #item-price{
    display: block !important;
    text-align:center;
  }
  .quantity-selector{
    text-align:center;
  }

  .right-span{
    float:left !important;
  }

  .input-group{
    position:relative !important;
    left:30px;
  }
}
