figure {
	margin: 0;
	position: relative;
  overflow: hidden;
}

figcaption {
  display:inline-block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #ECECEA;
	color: #424242;
}

figcaption h3 {
	margin: 0;
	padding: 0;
	color: #424242;
}

figure img {
	transition: transform 0.4s;
}

figure:hover img,
figure.cs-hover img {
	transform: translateY(-50px);
  opacity: 0.7;
  transition: transform 2s, opacity 1s;
}

figcaption {
	height: 60px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

figure:hover figcaption,
figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}
